<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.game.queist.spectrum">

    <application
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:colorMode="wideColorGamut"
        android:isGame="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:windowLayoutInDisplayCutoutMode = "shortEdges"
        tools:targetApi="o_mr1">
        <activity android:name=".Logo"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StartScreen"
            android:screenOrientation="sensorLandscape"/>
        <activity android:name=".SongSelect"
            android:screenOrientation="sensorLandscape"/>
        <activity android:name=".PlayScreen"
            android:screenOrientation="sensorLandscape"/>
        <activity android:name=".Result"
            android:screenOrientation="sensorLandscape"/>
        <activity android:name=".SyncTest"
            android:screenOrientation="sensorLandscape"/>
        <activity android:name=".SpectrumAlign"
            android:screenOrientation="sensorLandscape"/>
        <activity android:name=".Volume"
            android:screenOrientation="sensorLandscape"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>